.container {
  display: flex;
  width: 90vw;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  
}

.new-tweet {
  display: flex;
}

/* #compose-tweet {
  display: flex;
  flex-flow: column wrap;
} */