nav {
  height: 120px;
  width: 100vw;
  background-color: transparent;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.first-span {
  font-family: "Bungee", sans-serif;
  margin-left: 1.5em;
}
.nav-bar-second-div {
  display: flex;
  margin-right: 1.5em;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: red;
  margin-top: -10px;
}

#navbar-toggle {
  cursor: pointer;
}
#navbar-toggle:hover {
  animation: bounce 1s ease infinite;
}
@keyframes bounce {
  0% {transform: translateY(-10%);}
  50% {transform: translateY(15%);}
  100% {transform: translateY(-10%);}
}


